<table class="table">
    <tr>
        <th>Name</th>
        <th>Surname</th>
    </tr>
    <tr>
        <td (click)='onClick()'>Raj Kishore</td>
        <td #table>Patel</td>
    </tr>
    <tr>
        <td (click)='onClick1()'>Sairam</td>
        <td #table>Domala</td>
    </tr>
    <tr>
        <td (click)='onClick2()'>Maneesh</td>
        <td #table>Acharya</td>
    </tr>
    <tr>
        <td (click)='onClick3()'>Rohit</td>
        <td #table>Guntupali</td>
    </tr>
    <tr>
        <td (click)='onClick4()'>Prasant</td>
        <td #table>Tarai</td>
    </tr>
    <tr>
        <td (click)='onClick5()'>Sudhansu</td>
        <td #table>Behera</td>
    </tr>
</table>
