<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Euro Air</a>
      <span>
        <i class="fas fa-search me-5"></i>
        <i class="fas fa-bell me-5"></i>
        <i class="fas fa-globe me-2"></i>
      </span>
      <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    </div>
</nav>


    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
             <div> look for a flight
                 <div class="card-body">
                    <form>
                        <label for="radio" class="form-label mt-3 ">Trip :</label>
                        <input type="radio" class="form-check-input " name="radio" id="name">one-way  
                        <input type="radio" class="form-check-input " name="radio" id="radio">Return <br><br>

                       <label for="">From</label>
                       <select name="" id="">
                           <option value=""><input type="search"></option>
                           <option value="">Riga</option>
                           <option value="">Moscow</option>
                           <option value="">Prague</option>
                           <option value="">Kiev</option>
                           <option value="">Minsk</option>
                       </select>  <br> <br>
                       
                       <label for="">To</label>
                       <select name="" id="">
                           <option value=""><input type="search"></option>
                           <option value="">Riga</option>
                           <option value="">Moscow</option>
                           <option value="">Prague</option>
                           <option value="">Kiev</option>
                           <option value="">Minsk</option>
                       </select> <br><br>

                       <label for="" class="form-label">Departure</label>
                       <input type="date" >

                       <label for="" class="form-label"></label>
                       <input type="">
                     </form>
                 </div>
             </div>

             <div> Hotels
                 <div class="card-body">
                    <form>
                        <label for="">From</label>
                        <input type="text">  <br><br>

                        <label for="">Check In </label>
                        <input type="datetime-local"> <br><br>

                        <button>Search</button>
                    </form>
                 </div>
             </div>

             <div>
                 
             </div>
                
            </div>
            <div class="col-md-8">
              Column
            </div>
          </div>
     </div>
    