<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">India News</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
    aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink = "parent">Parent</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink = "child">Child</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink = "places">Places</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink = "form">Forms</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink = "Template">Template</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink = "binding">Binding</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink = "register">Register</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink = "mock">Mock</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink = "parent1">Parent1</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink = "parent2">Parent2</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink = "mock1">Mock1</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink = "feature">feature</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink = "feature1">feature1</a>
        </li>


      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>