<div col-md-6 offset-md-4>
    <h1>Template Driven Form</h1>
    <form #logInForm="ngForm" (ngSubmit)="onSubmit(logInForm)">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" name="name" ngModel #nameField="ngModel" required>
        </div>
        <div *ngIf='nameField.touched && nameField.invalid' class="text-danger">
            This Field is Required
        </div>
        <div class="mb-3">
            <label for="pwd" class="form-label">Password</label>
            <input type="password" class="form-control" required name="password" ngModel #pwdField="ngModel">
        </div>
        <div *ngIf='pwdField.touched && pwdField.invalid' class="text-danger">
            This Field is required
        </div>
        <button type="submit" [disabled]="logInForm.invalid" class="btn btn-primary">Submit</button>
    </form>
</div>